.container-header{
  background: #F5F5F5;
  height: 80px;
  padding: 1.5rem 1rem;
  display: flex;
  &__title{
    text-align: center;
    font-size: 35px;
    color: #002655;
    font-weight:800;
    width: 90%;
  }
}